In [54]:
import pandas as pd
from glob import glob

In [55]:
filepaths=glob('sources/請求書*.xlsx')
filepaths

['sources\\請求書_10月_TTTInc.xlsx',
 'sources\\請求書_11月_ICHIGO.xlsx',
 'sources\\請求書_11月_XYZ株式会社.xlsx',
 'sources\\請求書_12月_CDF商事.xlsx',
 'sources\\請求書_12月_STR_Corp.xlsx',
 'sources\\請求書_12月_TTTInc.xlsx',
 'sources\\請求書_12月_株式会社ABC.xlsx']

In [56]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    df=_df.iloc[11:23,[1,2,4,10,11,14]]
    colums=_df.iloc[10,[1,2,4,10,11,14]]
    df.columns=colums
    df['企業名']=_df.iloc[2,0]
    df['企業コード']=_df.iloc[3,4]
    df['請求No']=_df.iloc[2,12]
    df['発行日']=_df.iloc[3,12]
    df['発行者']=_df.iloc[4,12]
    df['発行者コード']=_df.iloc[4,13]
    return df

In [57]:
df = pd.DataFrame()

for filepath in filepaths:
    df=pd.concat([df,extract(filepath)])

In [58]:
df

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,企業名,企業コード,請求No,発行日,発行者,発行者コード
11,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
12,2020-10-05 00:00:00,GSL0002,ハイオク,45,160,7200,TTT Inc.,6,012,2020/10/31,岸辺,2.0
13,2020-10-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
14,2020-10-07 00:00:00,GDS0002,コロン,3,800,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
15,2020-10-08 00:00:00,CMT0004,オイル交換,1,1000,1000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
18,2020-12-20 00:00:00,CMT0004,オイル交換,1,1000,1000,株式会社ABC,1,003,2020/12/28,桜田,5.0
19,2020-12-22 00:00:00,CMT0005,タイヤ交換,1,4000,4000,株式会社ABC,1,003,2020/12/28,桜田,5.0
20,2020-12-22 00:00:00,GDS0001,タイヤ,4,8000,32000,株式会社ABC,1,003,2020/12/28,桜田,5.0
21,2020-12-22 00:00:00,GDS0002,コロン,1,800,800,株式会社ABC,1,003,2020/12/28,桜田,5.0
22,2020-12-22 00:00:00,GDS0003,スナック,3,100,300,株式会社ABC,1,003,2020/12/28,桜田,5.0

In [59]:
df=df.dropna()

In [60]:
df.reset_index(drop=True)

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,企業名,企業コード,請求No,発行日,発行者,発行者コード
0,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
1,2020-10-05 00:00:00,GSL0002,ハイオク,45,160,7200,TTT Inc.,6,012,2020/10/31,岸辺,2.0
2,2020-10-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
3,2020-10-07 00:00:00,GDS0002,コロン,3,800,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
4,2020-10-08 00:00:00,CMT0004,オイル交換,1,1000,1000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
67,2020-12-20 00:00:00,CMT0004,オイル交換,1,1000,1000,株式会社ABC,1,003,2020/12/28,桜田,5.0
68,2020-12-22 00:00:00,CMT0005,タイヤ交換,1,4000,4000,株式会社ABC,1,003,2020/12/28,桜田,5.0
69,2020-12-22 00:00:00,GDS0001,タイヤ,4,8000,32000,株式会社ABC,1,003,2020/12/28,桜田,5.0
70,2020-12-22 00:00:00,GDS0002,コロン,1,800,800,株式会社ABC,1,003,2020/12/28,桜田,5.0
71,2020-12-22 00:00:00,GDS0003,スナック,3,100,300,株式会社ABC,1,003,2020/12/28,桜田,5.0

In [61]:
df=df.iloc[:,[6,7,8,9,10,1,2,3,4,5]]

In [62]:
df.to_excel('output/all_data02.xlsx',index=False)

In [63]:
members=df['発行者'].unique()

In [64]:
member=members[0]

In [65]:
_df=df[df['発行者']==member]

In [66]:
_df['金額'].sum()

120300

In [67]:
companies=_df['企業名'].unique()
companies

array(['TTT Inc.', 'ICHIGO'], dtype=object)

In [83]:
companies[0]

'TTT Inc.'

In [87]:
_df[_df['企業名']==companies[0]]['金額'].sum()

89400

In [88]:
tot_earnings=_df['金額'].sum()

def gokei():
    df = pd.DataFrame()
    for filepath in filepaths:
        df=pd.concat([df,extract(filepath)])
    df=df.dropna()
    df=df.reset_index(drop=True)
    df=df.iloc[:,[6,7,8,9,10,1,2,3,4,5]]
    members=df['発行者'].unique()
    for member in members:
        for hakko in df['発行者']:
            _df=df[df['発行者']==member]
            all_sum=_df['金額'].sum()
            return all_sum
                for kigyo in _df['企業名']:
                    small_sum=_df[_df['企業名']==companies[0]]['金額'].sum()
                    return small_sum

In [92]:
pd.DataFrame({'担当者':member,'企業名':'全体','金額':tot_earnings},index=[0])

  担当者 企業名      金額
0  岸辺  全体  120300

In [95]:
company=companies[0]

In [97]:
earnings=_df[_df['企業名']==companies[0]]['金額'].sum()

In [99]:
pd.DataFrame({'担当者':member,'企業名':company,'金額':earnings},index=[1])

  担当者       企業名     金額
1  岸辺  TTT Inc.  89400

In [100]:
{'担当者':member,'企業名':'全体','金額':tot_earnings}

{'担当者': '岸辺', '企業名': '全体', '金額': 120300}

In [102]:
dict(企業名=company,金額=earnings)

{'企業名': 'TTT Inc.', '金額': 89400}